

 Kohwop offer several features to make sharing and learning easier. Signing up for an account on Kohwop opens up opportunities for you to share your experiences and read about the experiences other parents have home schooling children.

Track your students outcomes with a personalized Study planner for each child.
Share and search curriculum resources in the Supply Closet
Manage your own curriculum and resources in your Resource Cabinet
Join and create your own messaging forum in the Teachers Room


<h2>Welcome to Kohwop</h2>

<h4>We enjoy hearing from you. How are we doing? Feel free to contact us at @some_email_address</h4>