<div class="splash">
      <p class="intro_para">
         <strong><span class="logoized">  Kohwop </span></strong> makes sharing and learning easier. Kohwop opens up opportunities for you to share your experiences and read about the experiences other homeschooling parents.
       </p>

      <ul class="feature_list">
        <li>Track your students outcomes with a personalized Study planner for each child</li>
        <li>Share and search curriculum resources in the Supply Closet</li>
        <li>Manage your own curriculum and resources in your Resource Cabinet</li>
        <li>Join and create your own messaging forum in the Teachers Room</li>
      </ul>

      <%= link_to "Join the Community", new_educator_registration_path, class: "btn-info btn btn-large center" %>

      <h4>We enjoy hearing from you. How are we doing? <a href='mailto:info@kohwop.com'>Let us know! </a> </h4>

</div>