
<p>
   Kohwop offer several features to make sharing and learning easier. Signing up for an account on Kohwop opens up opportunities for you to share your experiences and read about the experiences other parents have home schooling children
 </p>

<p>
  Track your students outcomes with a personalized Study planner for each child<br>
  Share and search curriculum resources in the Supply Closet<br>
  Manage your own curriculum and resources in your Resource Cabinet<br>
  Join and create your own messaging forum in the Teachers Room<br>
</p>


<h4>We enjoy hearing from you. How are we doing? Feel free to contact us at @some_email_address</h4>