<div class="well">

  <p> Welcome to kohwop. We hope that you'll connect with all sorts of amazing homeschooling families. In order to connect you with folks who are in similar situations, we'd like to ask you a few questions about your family.</p>
  <p> If you don't have and answer for some of the more creative questions, don't worry. You can come back any time to complete your profile. </p>

</div>