

<% if  (forem_user) && (forem_user.member_of_category? category.id) %>
  <div id='category_<%= category.id %>' class='category'>
    <h2><%= link_to forem_emojify(category.name), [forem, category] %></h2>
    <%= render "/forem/forums/listing", :category => category %>
  </div>
<% end %>
