
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.header .text-muted a {
  color: #555555;
  font-size: 1.8em;
}

.text-muted a:hover {
  text-decoration: none;
}

.container {
            background: url('assets/images/apple.jpg') cover;
          }
.logoized {
  font-family: 'Happy Monkey', cursive;
  text-shadow: 0 4px 0 0.2em #7FD0A5;
}

#leaflet { height: 220px; }
