// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  background-color: #fffaea;
  padding: 0px 14px;
  -webkit-box-shadow: 0px 8px 8px 2px #0c0c12;
          box-shadow: 0px 8px 8px 2px #0c0c12;

}

.splash {

        background: url('apple.jpg') no-repeat center fixed;
}

#family, #motto {
  font-family: 'Happy Monkey', cursive;
  font-weight: 600;
  color:#DC7F00;
  padding-bottom: 0;
}

#motto {
  font-size: 30px;
  padding-left:30px;
  padding-bottom:20px;
}


